html {
  font-size: 62.5%;
  /* 10÷16=62.5% */
}
body {
  font-size: 12px;
  font-size: 1.2rem ;
  /* 12÷10=1.2 */
}
p {
  font-size: 14px;
  font-size: 1.4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
}
* li {
  list-style: none;
}
input:focus,
textarea:focus {
  outline: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 2em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.5em;
  vertical-align: middle;
}
.iconfont.backTop:before {
  content: '\e612';
}
.iconfont.top:before {
  background: linear-gradient(#ff8d00, #ff0000, #a50606);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.57);
  -webkit-background-clip: text;
  color: rgba(255, 0, 0, 0);
  content: '\e645';
}
.iconfont.good:before {
  background: linear-gradient(#ffe000, #afa900, #6b5e00);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.33);
  -webkit-background-clip: text;
  color: rgba(19, 19, 19, 0);
  content: '\e60b';
}
.iconfont.share:before {
  content: '\e605';
}
.iconfont.ask:before {
  content: '\e70a';
}
.iconfont.job:before {
  content: '\e60f';
}
.iconfont.ag:before {
  content: '\e63c';
}
.iconfont.rep:before {
  content: '\e61d';
}
.iconfont.home:before {
  content: '\e631';
}
.iconfont.apply:before {
  content: '\e603';
}
.iconfont.message:before {
  content: '\e6bd';
}
.iconfont.person:before {
  content: '\e66a';
}
.iconfont.out:before {
  content: '\e600';
}
.iconfont.cancel:before {
  content: '\e68e';
}
.iconfont.sure:before {
  content: '\e65d';
}
.flex {
  display: flex;
  margin: 0;
  width: 100%;
}
.flex li {
  text-align: center;
  width: 100%;
}
.ItemCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-g {
  color: white;
  border-radius: 5px;
  border: 1px solid #42a202;
  background: #4ec300;
  box-shadow: inset 0 0 2px #ffffff;
}
